.container{
    width: 800px;
    margin: auto;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

.copyright-name {
    font-weight: bold;
    font-style: italic;
}

